@model SAT.DATA.EF.Models.ScheduledClassStatus

@{
    ViewData["Title"] = "Details";
}
<div class="crumbs-area">
    <div class="container">
        <div class="crumb-content">
            <h4 class="crumb-title"><span>Class Status </span>Details</h4>
        </div>
    </div>
</div>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scsname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scsname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Scsid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
