@{
    ViewData["Title"] = "Email Confirmation";
}

<div class="crumbs-area">
    <div class="container">
        <div class="crumb-content">
            <h4 class="crumb-title"><span>Email</span>Sent!!</h4>
        </div>
    </div>
</div>

